&#32;pl_importNHSOpenData.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "NHS Open Data/UTF-8"
              }
            },
            "linkedService": {
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "925d2171-7225-404a-8155-d584c1b565e8",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              },
              "name": "lh_nhs_open_data"
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "BinaryReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata File List",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Metadata File List').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "NHS Open Data/UTF-8",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": "¬",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "925d2171-7225-404a-8155-d584c1b565e8",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      },
                      "name": "lh_nhs_open_data"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@split(item().name, '.')[0]",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "925d2171-7225-404a-8155-d584c1b565e8",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      },
                      "name": "lh_nhs_open_data"
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach File",
        "dependsOn": [
          {
            "activity": "Get Metadata File List",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "varWorking": {
        "type": "String"
      }
    }
  }
}